/* COLORS */
:root{
    --black: #000;
    --grey-dark:#333;
    --grey:#55555f;
    --grey-light: #eee;
    --white: #fff;
    --green: #334A36;
    --green-light: #697A50;
}

html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    background-color: var(--white);
}

body{
  margin:0;
  
}

h1, h2, h3, h4, h5{
    font-family: "inter", sans-serif;
    color: var(--black);
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    margin-top: 20px;
    line-height: 1.25;
}

h1, .h1{
    font-size: 48px;
    font-weight: 700;
}

h2, .h2{
    font-size: 36px;
    font-weight: 500;
}

h3, .h3{
    font-size: 24px;
    font-weight: 500;
}

p, ol, li{
	font-family: "inter", sans-serif;
	font-size: 16px;
	color: var(--black);
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    margin-top: 15px;
    line-height: 1.6;
}

a{
    color: var(--green);
    text-decoration: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  display:block;
}

.navbar{
    margin-bottom: 0;
    border-bottom: 1px solid rgba(123, 123, 123, 0.5);
}

.navbar-collapse{
    padding-right: 0;
}

.navbar-header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    
}

/* GLOBAL */
.logo{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--black);
    float: left;
}

a.logo{
    text-decoration: none;  
}

li {
    color: var(--black);
    letter-spacing: 0.5px;
    line-height: 1.6;
}

li a{
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: var(--black);
}

li a:hover{
  color: var(--green);
}

.navbar-toggle{
  border: 1px solid var(--grey);
}

.navbar-nav{
  float: right;
}

.project-header {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--white);
}

.header-margin{
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    align-content: center;
    justify-content: space-between;
}

.highlight-darkgreen{
    border-bottom: 4px solid var(--green);
    padding-bottom: 20px;
}

.highlight-lightgreen{
    border-bottom: 3px solid var(--green-light);
}

.green{
    color: var(--green);
}

span{
    font-size: 17px;
    color: var(--green);
    font-weight: bold;
}

.section-title{
  font-weight: 600;
}

.socials{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}

.socials>a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.display{
    max-width: 710px;
    width: 100%;
    margin: 0 20px;
}

/* INDEX PAGE */
.greeting{
    width: 100%;
}

.greeting h1{
    font-size: 48px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}

.greeting p{
    font-size: 24px;
}

.projects-subsection{
    margin: 75px 0 40px 0;
}

.project-card{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    }
    .project-card:focus, .project-card:hover {
        text-decoration: none; 
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
}

.project-card-row{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 20px;
}

.project-card-small{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    }
    .project-card-small:focus, .project-card-small:hover {
        text-decoration: none; 
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
}

.project-card-img{
    max-width: 345px;
    height: auto;
    display: flex;
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
}

.project-card-img-small{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.project-teaser{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

.project-teaser p{
    margin-top: 15px;
}

/* ABOUT PAGE */
.display-about{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
    max-width: 1000px;
    width: 100%;
}

.profile-img{
    display: flex;
    width: 300px;
    height: auto;
    align-self: flex-start;
    margin-top: 30px;
}

.about-me{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* CASE STUDY PAGES */
.intro-row{
    display:flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
}

.intro-text{
    width: 100%;
}

.content-casestudy{
    max-width: 1000px;
    width: 100%;
    margin: 25px auto;
    align-content: center;
    padding: 0 20px;
}

.content-margin{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.intro{
    display: flex;
    flex-direction: column;
    
}

.title{
    text-align: center;
    margin-bottom: 45px;
}

.casestudy-section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px;
}

.casestudy-research{
    background: var(--grey-light);
    margin-top: 40px;
    padding: 10px 20px;
}

.section-title{
    margin-bottom: 15px;
}

.section-content{
    margin-bottom: 25px;
}

.section-content p{
    margin-top: 20px;
}

.module-blocks{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-top: 25px;
    padding-bottom: 25px;
    gap: 20px;
}

.standard{
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
}

.text p{
    margin-top: 0;
}

.text, .caption{
    max-width: 490px;
    width: 100%;
}

.caption-full{
    max-width: 1000px;
}

.caption-third{
    max-width: 320px;
}

.img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--grey-dark);

}

.half{
    max-width: 490px;
}

.img-full{
    max-width: 1000px;
    width: 100%;
    height: auto;
    border: 1px solid var(--grey-dark);
}

.img-twothirds{
    max-width: 620px;
    height: auto;
    border: 1px solid var(--grey-dark);
}

.img-third{
    max-width: 320px;
    height: auto;
    border: 1px solid var(--grey-dark);
}

.img-mobile{
    max-height:715px;
    width: auto;
}

.callout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.callout-full{
    max-width: 1000px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.callout, .callout-full, h2, h3{
    margin: 0;
}

.module-blocks .quote-text{
    font-size: 15px;
    border-left: 2px solid var(--grey);
    padding-left: 15px;
    color: var(--grey);
}

.casestudy-project-card{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    }
    .casestudy-project-card:focus, .casestudy-project-card:hover {
        text-decoration: none; 
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
}

.casestudy-project-card-img{
    max-width: 318px;
    height: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

/* PASSWORD PROTECTION */
.btn {
    font-family: "inter", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    background-color: var(--green);
    color: white;
    border-radius: 3px;
}.btn:focus, .btn:hover {
        text-decoration: none; 
        color: var(--white);
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
}

.box {
	border-radius: 3px;
	background: rgba(255,255,255); margin: auto; 
    padding: 12px;
}

.box .btn{
    background-color: var(--green);
    color: white;
    border-radius: 3px;
}

.lightbox {
	zoom: 1.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.8);
	text-align: center;
	margin: auto;

}
.user-img{
    width: 180px;
    overflow: hidden;
    margin: 0 auto;
}

/* Testing Results */
.test-img{
    width: 180px;
    overflow: hidden;
    margin: auto;
}

/* Responsiveness */
@media (max-width: 725px) {
    .display{
        max-width: 300px;
        width: 100%;
    }
    /* Index */
    .project-card {
        flex-direction: column;
        width: 100%;
    }
    .project-card-img{
        max-width:800px;
        height: auto;
        display: flex;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
    }
    .project-card-row {
        flex-direction: column;
    }
    /* About */
    .display-about{
        flex-direction: column;
    }
    .profile-img{
        width: 100%;
        margin-top: 0;
    }
    /* Case Study */
    .intro-row{
        display:flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }
    .module-blocks{
        flex-direction: column;
    }
    .img-twothirds{
        max-width: fit-content;
        width: 100%;
    }
}

div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

::-webkit-input-placeholder {
   color: var(--grey-dark);
   text-align: center;
}

::-moz-placeholder {
   color: var(--grey-dark);
   text-align: center;
}

:-ms-input-placeholder {
   color: var(--grey-dark);
   text-align: center;
}